.ttct-service {
    .ios {
        
        .ttct-lang-btn-right {
            top : -6px;
        }
        .ttct-menu-btn-right {
            top : -6px;
        }
        // ion-modal {
        //     margin-top: 120px;
        //     height: calc(100% - 208px);
        // }
        .ttct-round-button.button {
            height : 32px;
            width : 32px;
        }
        .ttct-logout-btn-left {
            top : -6px;
        }
    }
}