<ion-content padding>

    <ion-grid class="wa-input-box">
        <ion-row>
          <ion-col col-9>
            <ion-item>
              <ion-label> <ion-icon name="ios-locate-outline"></ion-icon></ion-label>
              <ion-input my-input placeholder = "Enter the city name" type="text"  [(ngModel)]="city" minlength="2" maxlength="50"></ion-input>
            </ion-item>
          </ion-col> 
          <ion-col col-3 class="ttct-center">
            <button [disabled]="!city" color="secondary" ion-button type="button" (click)="getCityData(city)">
              Submit
            </button>
          </ion-col>
        </ion-row>
        <div class="wa-OR">OR</div>
        <ion-row>
          <ion-col>
            <button class="wa-btn-100" ion-button type="button" (click)="opneMapModal()">
              CHOOSE FROM MAP
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

<div *ngIf="!days" class="wa-mask">
  <!--dummy mask-->
</div>
  <!--title segments-->
  <ion-segment [(ngModel)]="segmentSelected" class="wa-parent-segment">
    <ion-segment-button *ngFor="let segment of segments; let index = index" [value]="segment" (click)="changeSegment(segment)" [ngClass]="{'wa-deactive' : !isChart}">
      <span [innerHTML] = "segment"></span>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentSelected">
    
    <ion-segment [(ngModel)]="daySelected">
      <ion-segment-button *ngFor="let day of days; let index = index" [value]="formatDate(day[0].date)" (click)="changeDay(formatDate(day[0].date), index, segmentSelected)">
        <span [innerHTML] = "formatDate(day[0].date)"></span>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="daySelected">
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <button class="wa-btn" ion-button type="button" (click)="toggleView()" [ngClass]="{'wa-active' : isChart}">
              CHART
            </button>
          </ion-col>
          <ion-col>
            <button class="wa-btn" ion-button type="button" (click)="toggleView()" [ngClass]="{'wa-active' : !isChart}">
              LIST
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div [hidden]="isChart">
        <div *ngFor="let day of days; let index = index">
          <div *ngSwitchCase="formatDate(day[0].date)">

            <div *ngFor="let item of day; let index = index" class="wa-repeat-content">

              <div class="wa-day-wrapper">
                <span [innerHTML]="formatTime(item.time)"></span>
              </div>
    
              <div class="wa-weather-wrapper">
                <img class="wa-icon" [src]= "item.icon"/>
                <div class="wa-desc" [innerHTML]="item.weather"></div>
                <div class="wa-temp">
                  <span [innerHTML]="item.temp"></span>
                  <span class="wa-list-unit">celcius</span>
                </div>
              </div>

              <ion-grid class="wa-list-grid">
                <ion-row no-padding>
                  <ion-col no-padding>
                    <span class="wa-list-label"> Wind : </span>
                    <span [innerHTML]="item.wind"></span>
                    <span class="wa-list-unit">m/s</span>
                  </ion-col>
                  <ion-col no-padding>
                    <span class="wa-list-label"> Humidity : </span>
                    <span [innerHTML]="item.humidity"></span>
                    <span class="wa-list-unit">%</span>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid class="wa-list-grid">
                <ion-row no-padding>
                  <ion-col no-padding col-6>
                    <span class="wa-list-label"> Pressure : </span>
                    <span [innerHTML]="item.pressure"></span>
                    <span class="wa-list-unit">hpa</span>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </div>
            
          </div>
        </div>
      </div>

      <div [hidden]="!isChart">
        <div id="container" style="display: block;"></div>
      </div>

    </div>
    
  </div>


</ion-content>
