page-weather-page {
    .wa-parent-segment {
        .segment-button {
            &.segment-activated {
                background: color($colors, primary, base);
                color: color($colors, light, base);
                &.wa-deactive {
                    background: color($colors, light-I, base);
                    color: color($colors, primary, base);
                }
            }
            
        }  
    }
    .wa-city {
        color: color($colors, primary, base);
        padding: 16px 8px 0px 8px;
        font-size: 24px;
    }
    .wa-weather-wrapper {
        .wa-icon{
            display: inline-block;
            width: 48px;
            vertical-align: middle;
        }
        .wa-desc{
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            text-transform: capitalize;
            color: color($colors, color-III, base);
        }
        .wa-temp {
            display: inline-block;
            vertical-align: middle;
            padding: 0px 16px;
            font-size: 18px;
            color: color($colors, primary, base);
            .wa-list-unit {
                color: color($colors, color-I, base);
                font-size: 12px;
            }
        }
    }
    .wa-day-wrapper {
        padding: 8px 8px 0px 8px;
        font-size: 18px;
        color: color($colors, primary, base);
        font-weight: bold;
    }
    .wa-btn {
        width: 100%;
        background: color($colors, lightPrimary, base);
        &.wa-active {
           background: color($colors, primary, base);
        }
    }
    .wa-list-grid {
        color: color($colors, primary, base);
        .wa-list-label {
            color: color($colors, color-I, base);
        }
        .wa-list-unit {
            color: color($colors, color-I, base);
            font-size: 12px;
        }
    }
    .wa-repeat-content {
        background: color($colors, light, base);
        border: 1px solid color($colors, light, base);
        margin: 5px 0px;
    }
    .wa-repeat-content:nth-child(even){
		background : color($colors, light-I, base);
	}
    
}
